{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Guardsmen Auction Manager{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <link href="{% static 'css/receipt.css' %}" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>
    <div class="container">
      <div class="receipt-header">
        <img src="{% static 'images/wa-logo.png' %}" />
        <h1>{{ object.lot }} - {{ object.title }}</h1>
      </div>
      <div class="receipt-content">
        <div>Congratulations on your purchase of auction lot {{ object.lot }}!</div>
        {% if object.description %}
        <p><i>{{ object.description }}</i></p>
        {% endif %}
        <table class="items-table">
          <tr>
            <th>Package Items</th>
            <th>Pick Up at Event</th>
            <th>Redemption Name</th>
            <th>Redemption Contact</th>
          </tr>
          {% for item in object.item_set.all %}
          <tr>
            <td>
              {{ item.description }}
              {% if item.wine_set %}
                <ul>
                {% for wine in item.wine_set.all %}
                  <li>{{wine}}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </td>
            <td class="center">{{ item.onsite_pickup|yesno }}</td>
            <td class="center">{{ item.contact_name }}</td>
            <td class="center">{{ item.contact_point }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% if object.restrictions %}
      <p><b>Restrictions: </b>{{ object.restrictions }}</p>
      {% endif %}
      <div class="receipt-footer">
        <p>Should you have any future issues redeeming your purchase, please contact Brian Deer at
briandeer415@gmail.com.</p>
        <p>Thank you for your support!
          <ul class="chairs">
            <li>Derick Brown</li>
            <li>Kevin Chagnon</li>
            <li>Brian Deer</li>
            <li>Mike Hall</li>
            <li>Joseph Rehrmann</li>
          </ul>
          <i>Co­Chairs, The 29th Annual Guardsmen Celebrity Dinner & Sports Auction</i>
      </div>
    <div>
  </body>
</html>

