{% load staticfiles i18n %}
<div class="page">
  <div class="center">
    <h1 class="item-number">{{ lot.lot_number }}</h1>
    <h2>{{ lot.title }}</h2>
  </div>
  <div class="pickup">
    <div class="item-descriptions">
      <h3>Onsite Pickup</h3>
      <ul>
      {% for item in lot.item_set.all %}
        {% if item.onsite_pickup %}
        <li class="item-description">
          <div class="item-title">{{ item }}</div>
          {% if item.wine_set.exists %}
            <!-- note:
              this won't look good if wines are split into multiple items
              as the table won't align
              -->
            <table class="wine-table">
            {% for wine in item.wine_set.all %}
              <tr>
                <td>{{wine.year}}</td>
                <td>
                  {{wine.description}}
                  {% if wine.rating %}
                  <span> ({{wine.rating}})</span>
                  {% endif %}
                </td>
                <td>{{wine.size}}<span> ({{wine.qty}})</td>
              </tr>
            {% endfor %}
            </table>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      <h3>Other Items</h3>
      {% if lot.pickup_instructions %}
      <p><b>Redemption instructions: </b>{{ lot.pickup_instructions }}</p>
      {% endif %}
      <ul>
      {% for item in lot.item_set.all %}
        {% if not item.onsite_pickup %}
        <li class="item-description">
          <div class="item-title">{{ item }} - {{ item.contact_name }} ({{ item.contact_point }})</div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
